.active p {
  color: #ea136b;
}
.status {
  height: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.66666667vw;
}
.status .left {
  width: 21.33333333vw;
  height: 3.46666667vw;
  background-image: url(../image/wifi.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.status .center {
  width: 9.6vw;
  height: 3.46666667vw;
  line-height: 3.46666667vw;
  text-align: center;
  font-size: 3.2vw;
  color: white;
}
.status .right {
  width: 18.66666667vw;
  height: 3.46666667vw;
  background-image: url(../image/battery.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.status_bar {
  height: 11.46666667vw;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-top: 0.26666667vw solid #dcdcdc;
}
.status_bar ul {
  display: flex;
  justify-content: space-between;
  padding: 0 3.2vw;
  align-items: center;
  height: 100%;
}
.status_bar ul li a {
  display: block;
  text-align: center;
}
.status_bar ul li a i {
  width: 4.8vw;
  height: 4.8vw;
  background-image: url(../image/spirit_03.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 57.33333333vw 4.8vw;
  background-position: -6.13333333vw 0;
  display: block;
  margin: 0 auto;
  margin-bottom: 1.33333333vw;
}
.status_bar ul li a p {
  font-size: 3.2vw;
  line-height: 3.2vw;
}
.status_bar ul li:nth-child(2) a i {
  background-position: -12vw 0;
}
.status_bar ul li:nth-child(3) a i {
  background-position: -23.2vw 0;
}
.status_bar ul li:nth-child(4) a i {
  background-position: -34.66666667vw 0;
}
.status_bar ul li:nth-child(5) a i {
  background-position: -46.13333333vw 0;
}
