@import url(./base.less);

@vw: 3.75vw;

.active {
    p {
        color: #ea136b;
    }
}



// 底部状态栏
.status_bar {
    height: (43/@vw);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: (1/@vw) solid #dcdcdc;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 (12/@vw);
        align-items: center;
        height: 100%;

        li {
            a {
                display: block;
                text-align: center;

                i {
                    width: (18/@vw);
                    height: (18/@vw);
                    background-image: url(../image/spirit_03.png);
                    background-repeat: no-repeat;
                    background-size: (215/@vw) (18/@vw);
                    background-position: -(23/@vw) 0;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: (5/@vw);
                }

                p {
                    font-size: (12/@vw);
                    line-height: (12/@vw);
                }

            }

            &:nth-child(2) {
                a {
                    i {
                        background-position: -(45/@vw) 0;
                    }
                }
            }

            &:nth-child(3) {
                a {
                    i {
                        background-position: -(87/@vw) 0;
                    }
                }
            }

            &:nth-child(4) {
                a {
                    i {
                        background-position: -(130/@vw) 0;
                    }
                }
            }

            &:nth-child(5) {
                a {
                    i {
                        background-position: -(173/@vw) 0;
                    }
                }
            }

        }
    }
}


// 头部封面
header {
    height: (211/@vw);
    background-image: url(../image/banner.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    position: relative;

    // 顶部状态栏
    .status {
        height: (30/@vw);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 (10/@vw);

        .left {
            width: (80/@vw);
            height: (13/@vw);
            background-image: url(../image/wifi.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        .center {
            width: (36/@vw);
            height: (13/@vw);
            line-height: (13/@vw);
            text-align: center;
            font-size: (12/@vw);
            color: white;
        }

        .right {
            width: (70/@vw);
            height: (13/@vw);
            background-image: url(../image/battery.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .nav {
        height: (27/@vw);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 (16/@vw);

        span {
            width: (16/@vw);
            height: (16/@vw);
            background-image: url(../image/spirit_04.png);
            background-size: ((199/2)/@vw) (16/@vw);
            background-repeat: no-repeat;
            background-position: -(21/@vw) 0;

        }

        p {
            width: (13/@vw);
            height: (14/@vw);
            background-image: url(../image/spirit_04.png);
            background-size: ((199/2)/@vw) (16/@vw);
            background-repeat: no-repeat;
            background-position: 0 0;
            position: relative;

            i {
                width: (6/@vw);
                height: (6/@vw);
                background-color: #e60012;
                border-radius: 50%;
                position: absolute;
                right: -(3/@vw);
                top: -(4/@vw);
            }

        }

        .search {
            width: (291/@vw);
            height: (27/@vw);
            background-color: #fff;
            border-radius: ((27/2)/@vw);
            display: flex;
            align-items: center;

            i {
                width: (15/@vw);
                height: (15/@vw);
                background-image: url(../image/spirit_04.png);
                background-size: ((199/2)/@vw) (16/@vw);
                background-repeat: no-repeat;
                background-position: -(85/@vw) 0;
                margin: 0 (9/@vw);
                display: block;
            }

            input {
                width: (187/@vw);
                outline: none;
                border: 0;

                &::placeholder {
                    font-size: (12/@vw);
                    color: #393939;
                }
            }
        }
    }

    .pic {
        width: (115/@vw);
        height: (80/@vw);
        background-image: url(../image/banner_03.png);
        background-size: ((229/2)/@vw) ((152/2)/@vw);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: (10/@vw);
        bottom: (50/@vw);
    }

    .dot {
        width: 100%;
        height: (30/@vw);
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: -(16/@vw);
        border-radius: 50%;

        ul {
            margin: (7/@vw) auto;
            width: (31/@vw);
            height: (6/@vw);
            display: flex;
            justify-content: space-between;

            li {
                a {
                    display: block;
                    width: (7/@vw);
                    height: (6/@vw);
                    background-color: #d4b1ed;
                    border-radius: 50%;
                }

                &:first-child a {
                    background-color: #aa64db;
                }

            }
        }
    }
}


// 主体内容
.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon_bar {
        height: (124/@vw);
        width: (342/@vw);
        display: flex;
        flex-direction: column;
        justify-content: space-between;   
        margin-top: (22/@vw);

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                a {
                    display: block;

                    .pic {
                        width: (33/@vw);
                        height: (34/@vw);
                        background-image: url(../image/spirit_05.png);
                        background-position: 0 0;
                        background-size: ((389/2)/@vw) ((153/2)/@vw);
                        display: block;
                        margin: 0 auto;
                        margin-bottom: (10/@vw);
                    }

                    p {
                        font-size: (12/@vw);
                        line-height: (12/@vw);
                        text-align: center;
                        color: #333;
                    }
                }

                &:nth-child(2) {
                    a {
                        .pic {
                            background-position: -(40/@vw) 0;
                        }
                    }
                }
                &:nth-child(3) {
                    a {
                        .pic {
                            background-position: -(81/@vw) 0;
                        }
                    }
                }
                &:nth-child(4) {
                    a {
                        .pic {
                            background-position: -(123/@vw) 0;
                        }
                    }
                }
                &:nth-child(5) {
                    a {
                        .pic {
                            background-position: -(162/@vw) 0;
                        }
                    }
                }

            }
            &:last-child{
                li{
                    &:nth-child(1) {
                        a {
                            .pic {
                                background-position: 0 -(42/@vw);
                            }
                        }
                    }
                    &:nth-child(2) {
                        a {
                            .pic {
                                background-position: -(40/@vw) -(42/@vw);
                            }
                        }
                    }    
                    &:nth-child(3) {
                        a {
                            .pic {
                                background-position: -(83/@vw) -(42/@vw);
                            }
                        }
                    }    
                    &:nth-child(4) {
                        a {
                            .pic {
                                background-position: -(123/@vw) -(42/@vw);
                            }
                        }
                    }    
                    &:nth-child(5) {
                        a {
                            .pic {
                                background-position: -(162/@vw) -(42/@vw);
                            }
                        }
                    }    

                }
            }
        }
    }
    .pic_md{
        width: (354/@vw);
        height: (98/@vw);
        background-image: url(../image/banner_02.png);
        background-size: ((707/2)/@vw) ((191/2)/@vw);
        background-position: center;
        background-repeat: no-repeat;
        margin-top: (25/@vw);
    }
    .goods{
        padding: 0 (8/@vw);
        width: 100%;
        margin-top: (19/@vw);
        .nav{
            height: (15/@vw);
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: (13/@vw);
            .left{
                font-size: (15/@vw);
                line-height: (15/@vw);
            }
            .right{
                font-size: (10/@vw);
                color: #4b4b4b;
                margin-top: (5/@vw);
                margin-right: (3/@vw);
            }
        }
        .shops{
            display: flex;
            justify-content: space-between;
            a{
                display: block;
                .pic{
                    width: (115/@vw);
                    height: (90/@vw);
                    background-image: url(../uploads/goods_01.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin: 0 auto;
                }
                .txt{
                    font-size: (10/@vw);
                    text-align: center;
                    margin-top: (9/@vw);
                    line-height: (10/@vw);
                    color: #333;
                }
            }
        }
    }
}